@tailwind base;
@tailwind components;
@tailwind utilities;

.half-star {
  background: linear-gradient(to right, #ffc107 50%, transparent 50%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
