@tailwind base;
@tailwind components;
@tailwind utilities;

.half-star {
  background: linear-gradient(to right, #ffc107 50%, transparent 50%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.higher-z-index {
  z-index: 1050 !important;
  /* transform: translateX(100px); */
}
.react-datepicker__input-container input {
  width: 100%;
  height: 3.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

.react-datepicker__input-container input:focus {
  outline: none;
  box-shadow: none;
  border-color: initial;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-left {
  animation: slide-in-left 1.5s ease forwards;
}

.animate-slide-in-right {
  animation: slide-in-right 1.5s ease forwards;
}

.animate-fade-in {
  opacity: 0;
  animation: fade-in 1s ease forwards;
  animation-delay: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 1s ease forwards;
}

.fade-out {
  animation: fadeOut 1s ease forwards;
}
